
<div class="row">

	<h2 class="no-padding">Address: <span class="label">{{xmr_address}}</span></h2>
    {{#testnet}}
      <h2 class="no-padding">Network type: <span class="label">Testnet</span></h2>
    {{/testnet}}
    {{#stagenet}}
      <h2 class="no-padding">Network type: <span class="label">Stagenet</span></h2>
    {{/stagenet}}
    {{^testnet}}{{^stagenet}}
      <h2 class="no-padding">Network type: <span class="label">Mainnet</span></h2>
    {{/stagenet}}{{/testnet}}


<div class="card" style="margin-top:10px">
	<header><h3>Associated public keys</h3></header>
	<footer>
		<p>View key: {{public_viewkey}}</p>
    		<p>Spend key: {{public_spendkey}}</p>
	</footer>
</div>

    {{#is_integrated_addr}}
	 <h2 class="no-padding">Payment ID: <span class="label">{{encrypted_payment_id}}</span></h2>
    {{/is_integrated_addr}}


    <h3>
        Transactions:<br/>
	Sorry, its not possible to find txs associated with normal addresses in Monero
    </h3>

</div>
<br/>
