<div class="row">
    <header>
        <p><b>Block hash (height):</b> {{blk_hash}} ({{blk_height}})</p>
        {{#have_prev_hash}}
        <p><b>Previous block:</b> <a href="/block/{{prev_hash}}">{{prev_hash}}</a></p>
        {{/have_prev_hash}}
        {{#have_next_hash}}
        <p><b>Next block:</b> <a href="/block/{{next_hash}}">{{next_hash}}</a></p>
        {{/have_next_hash}}
    </header>
</div>

<div class="row">
    <table class="primary table">
        <tr>
            <td>Timestamp [UCT] (epoch): {{blk_timestamp}} ({{blk_timestamp_epoch}})</td>
            <td>Age {{age_format}}: {{blk_age}}</td>
            <td> ^  [h:m:s]: {{delta_time}}</td>
        </tr>
        <tr>
            <td>Major.minor version: {{major_ver}}.{{minor_ver}}</td>
            <td>Block reward: {{blk_reward}}</td>
            <td>Block size [kB]: {{blk_size}}</td>
        </tr>
        <tr>
            <td>nonce: {{blk_nonce}}</td>
            <td>Total fees: {{sum_fees}}</td>
            <td>No of txs: {{no_txs}}</td>
        </tr>

    </table>
</div>
<div class="row">
    <h3>Miner reward transaction</h3>
    <table class="table">
        <thead>
            <tr>
                <th>hash</th>
                <th>outputs</th>
                <th>size [kB]</th>
                <th>version</th>
            </tr>
        </thead>
        <tbody>
            {{#coinbase_txs}}
            <tr>
                <td><a href="/tx/{{hash}}">{{hash}}</a>
                <td>{{sum_outputs}}</td>
                <td>{{tx_size}}</td>
                <td>{{version}}</td>
            </tr>
            {{/coinbase_txs}}

        </tbody>

    </table>
</div>
<div class="row">
<header>
    <h3>Transactions ({{no_txs}})</h3>
</header>
{{#have_txs}}
        <table class="table">
            <thead>
            <tr>
                <th>hash</th>
                <th>outputs</th>
                <th>fee</th>
                <th>ring size</th>
                <th>in/out</th>
                <th>size [kB]</th>
                <th>version</th>
            </tr>
        </thead>
        <tbody>
        {{#blk_txs}}
            <tr>
                <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td>{{sum_outputs}}</td>
                <td>{{tx_fee}}</td>
                <td>{{mixin}}</td>
                <td>{{no_inputs}}/{{no_outputs}}</td>
                <td>{{tx_size}}</td>
                <td>{{version}}</td>
            </tr>
        {{/blk_txs}}
        </tbody>
        </table>
        {{/have_txs}}
</div>
