<div class="row">

    <header>
        <h2>Transaction Pusher</h2>
    </header>

    <div class="center">

        {{#txs}}
            <p>Attempting to push tx: {{tx_hash}}</p>
        {{/txs}}

        {{#has_error}}
            <h4 style="color:red">Attempt failed</h4>
            <p>{{error_msg}}</p>
        {{/has_error}}
        {{^has_error}}
            <h4 style="color:green">Success</h4>
            <p>
                Your tx should be already in the mempool waiting to be included
                in an upcoming block.
            </p>

            {{#txs}}
                <p>Go to tx: <a href="/tx/{{tx_hash}}">{{tx_hash}}</a></p>
            {{/txs}}

        {{/has_error}}

    </div>
    <br/>
</div>
