
<div cass="row">
    <header>
        <h2>Transaction Pusher</h2>
    </header>

    <p>Paste base64 encoded, unsigned or signed transaction data here<br/>
    (In Linux, can get base64 signed raw tx data: <i>base64 signed_monero_tx | xclip -selection clipboard</i>)<br/>
    (In Windows, can get base64 signed raw tx data: <i>certutil.exe -encode -f signed_monero_tx encoded.txt & type "encoded.txt" | clip</i>)</p>
    <div>
        <form action="/checkandpush" method="post">

            <textarea name="rawtxdata" rows="10" cols="80"></textarea>

            <p>Note: data is sent to the server, as the calculations are done on the server side</p>
            <div class="flex four center four">
                <input class="button" type="submit" name="action" value="check"> &nbsp; <input class="button" type="submit" name="action" value="push">
            </div>
        </form>
    </div>

    <br/>
</div>
